.head-swiper {
  display: flex;
  justify-content: center;
  @include outerPadding;
  .ultimate-swiper {
    width: 100%;
    max-width: 1600px;
    background: linear-gradient(221deg, rgb(163 177 215 / 41%) 0%, rgb(144 159 201 / 52%) 35%);
    display: flex;
    padding: 39px 28px;
    align-items: center;
    justify-content: space-between;
    border-radius: 28px;
    .latest-blogs {
      width: 50%;
      padding-left: 2%;
      h1 {
        font-size: 7rem;
        font-family: $font-family;
        color: $theme-color;
      }
    }
    .swiper {
      width: 240px * 1.1;
      height: 320px * 1.1;
      max-width: 240px * 1.1;
      max-height: 320px * 1.1;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 50px;
      font-family: $font-family;
      color: rgb(235, 235, 235);
      box-shadow: $theme-color-faded 0px 0px 101px -29px;
    }

    .swiper-slide:nth-child(1n) {
      background: url("https://source.unsplash.com/random/360x480/?cryptocurrency,finance");
    }

    .swiper-slide:nth-child(2n) {
      background: url("https://source.unsplash.com/random/360x480/?stockmarket,shares");
      fill-opacity: 1;
    }

    .swiper-slide:nth-child(3n) {
      background: url("https://source.unsplash.com/random/360x480/?love");
    }

    .swiper-slide:nth-child(4n) {
      background: url("https://source.unsplash.com/random/360x480/?india");
    }

    .swiper-slide:nth-child(5n) {
      background: url("https://source.unsplash.com/random/360x480/?diwali");
    }

    .swiper-slide:nth-child(6n) {
      background: url("https://source.unsplash.com/random/360x480/?dance");
    }

    .swiper-slide:nth-child(7n) {
      background: url("https://source.unsplash.com/random/360x480/?sadhguru");
    }

    .swiper-slide:nth-child(8n) {
      background: url("https://source.unsplash.com/random/360x480/?war");
    }

    .swiper-slide:nth-child(9n) {
      background: url("https://source.unsplash.com/random/360x480/?IPL");
    }

    .swiper-slide:nth-child(10n) {
      background: url("https://source.unsplash.com/random/360x480/?BadBoys");
    }
  }
}

// Swiper section ends
