$font-family: "Montserrat", sans-serif;
$light-weight:5
00;
$theme-color:#001140;
$theme-color-faded:#3e6be6cb;
$accent-color:#72ff6d;
$header-font-weight:500;
$sub-header-font-weight:500;
$page-head:2.7rem;
$inside-margin:70px 0px;
$small-font:0.9rem;
$medium-font:1.5rem;
$gradient:linear-gradient(221deg, rgba(163, 177, 215, 0.41) 0%, rgba(144, 159, 201, 0.52) 35%);
$theme-color-forFooter:#93c4fd9c;
$section-space:200px;