$font-family: "Montserrat", sans-serif;
$light-weight:600;
$theme-color:#001140;
$theme-color-faded:rgba(62, 107, 230, 0.795);
$accent-color:#72ff6d;
$header-font-weight:500;
$sub-header-font-weight:500;
$page-head:2.7rem;
$inside-margin:50px 0px;
$small-font:0.9rem;
$medium-font:1.5rem;