@import "mixins", "fonts", "variables", 'swiper', "nav","header","firstPageSection","testimonial","blogSection";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  color: white;
  background: $accent-color;
}
body{
  background-color:#232a3d17;
}
svg {
  stroke: $accent-color;
}
.text-uppercase{
  color: $theme-color;
}
.mb-2{
  color: $theme-color;
}
footer{
  margin-top: $section-space;
  .footer-second-parent{
  background: $gradient;
  border-radius: 20px;
  }
}