@import "mixins", "fonts", "variables", 'swiper';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  color: white;
  background: $accent-color;
}
header {
  @include outerPadding;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: 11vh;
  width: 100%;
  .logo {
    // padding: 0px 20px;
    font-size: 30px;
    font-family: $font-family;
    font-weight: $light-weight;
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      padding: 0px 71px;
      font-family: $font-family;
      transition: 0.3s ease-in-out;

      a {
        color: $theme-color;
        font-size: 16px;
        font-weight: $light-weight;
        text-decoration: none;
        letter-spacing: 0.5px;
        .about {
          color: white;
          text-decoration: none;
          letter-spacing: 0.5px;
          background-color: $accent-color;
          border: none;
          font-size: 16px;
          font-weight: $light-weight;
          font-family: $font-family;
          width: 94px;
          margin-top: -10px;
          height: 34px;
          border-radius: 834783px;
          transition: 0.3s ease-in-out;
          &:hover {
            background-color: #ffffff;
            border: 2px solid $accent-color;
            font-size: 16px;
            font-weight: $light-weight;
            font-family: $font-family;
            width: 94px;
            margin-top: -10px;
            height: 34px;
            color: #001140;
            border-radius: 834783px;
          }
        }
        &:hover .span {
          background: $accent-color;
        }
        .span {
          width: 50px;
          height: 4.5px;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
.first-page-section {
  @include outerPadding;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    .left-side {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .tag-line {
        font-size: 44px;
        letter-spacing: 1px;
        line-height: 54px;
        font-weight: $header-font-weight;
        font-family: "Montserrat", sans-serif;
        color: $theme-color;
        word-wrap: break-word;
        .yellow-accent {
          @include accentBar(9rem, 12px);
        }
        uncle {
          color: $accent-color;
        }
      }
      .small-text {
        font-family: $font-family;
        font-weight: 500;
        color: $theme-color;
        font-size: 0.9rem;
        line-height: 20px;
        padding: 15px 0px;
        word-wrap: break-word;
        uncle {
          color: $accent-color;
        }
      }
    }
    .right-side {
      width: 50%;
      display: flex;
      justify-content: space-between;
      svg {
        padding: 0px 69px;
      }
    }
  }
}
.blog-section {
  @include outerPadding;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  // margin-top: 5rem;
  .section-blog {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1600px;
    font-family: "Montserrat", sans-serif;
    color: #001140;
    .blog-section-headers {
      display: flex;
      margin-bottom: 38px;
      flex-direction: column;
      .blog-accent {
        @include accentBar(9rem, -6px);
      }
      .blog-section-header {
        font-size: $page-head;
        font-weight: $header-font-weight;
        line-height: 69px;
      }
      .blog-section-sub-header {
        line-height: 18px;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
      }
    }
    .icon-time {
      display: flex;
      justify-content: space-between;
      margin: $inside-margin;
      .icon-group {
        width: 24%;
        h3 {
          line-height: 62px;
    padding-bottom: 4px;
    // font-size: 1.5rem;
          // line-height: 47px;
          font-size: $medium-font;
        }
        h6 {
          line-height: 18px;
          font-weight:$light-weight;
          font-size:$small-font;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
svg {
  stroke: $accent-color;
}
.testimonial {
  display: flex;
  justify-content: center;
  @include outerPadding;
  margin: 30px 0px;
  .inside-testimonial {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    .testi-header {
      .testi-accent {
        @include accentBar(8rem, -4px);
      }
      .testi-h1-header {
        font-family: "Open sans", sans-serif;
        font-weight: $header-font-weight;
        font-size: $page-head;
        color: $theme-color;
      }
    }
    .testi-readers {
      display: flex;
      justify-content: space-between;
      margin: $inside-margin;
      .reader-box {
        backdrop-filter: blur(5px);
        background: linear-gradient(88deg, rgb(163 177 215 / 19%) 0%, rgba(144, 159, 201, 0.3) 35%);
        width:18%;
        max-width: 20%;
        min-width:18%;
        border-radius: 20px;
        height: fit-content;
        display: flex;
        padding: 5px 25px;
        flex-direction: column;
        .reader-image {
          width: 50px;
          height: 50px;
          border-radius:50%;
          margin: 5px 0px;
          border:3px solid $accent-color;
        }
        .reader-text {
          font-size: $small-font;
          font-family: $font-family;
          letter-spacing: -1px;
          font-weight: $light-weight;
          letter-spacing: 0.5px;
          color: $theme-color;
        }
        .reader-name {
          color: $theme-color;
          font-size: 15px;
          padding-top: 25px;
          padding-bottom: 5px;
          font-family:$font-family;
          .name-accent{
            @include accentBar(3.5rem, 3px);
            height: 3.8px;
          }
        }
      }
    }
  }
}