@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Joan&family=Josefin+Sans:ital,wght@0,200;0,300;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@100;300;500;600;800&family=Open+Sans:wght@300;400;600;800&family=Roboto:wght@100;300;400;500;900&display=swap");
.head-swiper {
  display: flex;
  justify-content: center;
  padding: 0px 70px;
}
.head-swiper .ultimate-swiper {
  width: 100%;
  max-width: 1600px;
  background: linear-gradient(221deg, rgba(163, 177, 215, 0.41) 0%, rgba(144, 159, 201, 0.52) 35%);
  display: flex;
  padding: 39px 28px;
  align-items: center;
  justify-content: space-between;
  border-radius: 28px;
}
.head-swiper .ultimate-swiper .latest-blogs {
  width: 50%;
  padding-left: 2%;
}
.head-swiper .ultimate-swiper .latest-blogs h1 {
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  color: #001140;
}
.head-swiper .ultimate-swiper .swiper {
  width: 288px;
  height: 384px;
  max-width: 360px;
  max-height: 480px;
}
.head-swiper .ultimate-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: rgb(235, 235, 235);
  box-shadow: rgba(62, 107, 230, 0.7960784314) 0px 0px 101px -29px;
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(1n) {
  background: url("https://source.unsplash.com/random/360x480/?cryptocurrency,finance");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(2n) {
  background: url("https://source.unsplash.com/random/360x480/?stockmarket,shares");
  fill-opacity: 1;
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(3n) {
  background: url("https://source.unsplash.com/random/360x480/?love");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(4n) {
  background: url("https://source.unsplash.com/random/360x480/?india");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(5n) {
  background: url("https://source.unsplash.com/random/360x480/?diwali");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(6n) {
  background: url("https://source.unsplash.com/random/360x480/?dance");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(7n) {
  background: url("https://source.unsplash.com/random/360x480/?sadhguru");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(8n) {
  background: url("https://source.unsplash.com/random/360x480/?war");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(9n) {
  background: url("https://source.unsplash.com/random/360x480/?IPL");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(10n) {
  background: url("https://source.unsplash.com/random/360x480/?BadBoys");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: white;
  background: #72ff6d;
}

::selection {
  color: white;
  background: #72ff6d;
}

header {
  padding: 0px 70px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: 11vh;
  width: 100%;
}
nav .logo {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding: 0px 71px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease-in-out;
}
nav ul li a {
  color: #001140;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
}
nav ul li a .about {
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
  background-color: #72ff6d;
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 94px;
  margin-top: -10px;
  height: 34px;
  border-radius: 834783px;
  transition: 0.3s ease-in-out;
}
nav ul li a .about:hover {
  background-color: #ffffff;
  border: 2px solid #72ff6d;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 94px;
  margin-top: -10px;
  height: 34px;
  color: #001140;
  border-radius: 834783px;
}
nav ul li a:hover .span {
  background: #72ff6d;
}
nav ul li a .span {
  width: 50px;
  height: 4.5px;
  transition: 0.3s ease-in-out;
}

.first-page-section {
  padding: 0px 70px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.first-page-section .container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
}
.first-page-section .container .left-side {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.first-page-section .container .left-side .tag-line {
  font-size: 44px;
  letter-spacing: 1px;
  line-height: 54px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #001140;
  word-wrap: break-word;
}
.first-page-section .container .left-side .tag-line .yellow-accent {
  width: 9rem;
  height: 6px;
  margin: 12px 0px;
  background-color: #72ff6d;
}
.first-page-section .container .left-side .tag-line uncle {
  color: #72ff6d;
}
.first-page-section .container .left-side .small-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #001140;
  font-size: 0.9rem;
  line-height: 20px;
  padding: 15px 0px;
  word-wrap: break-word;
}
.first-page-section .container .left-side .small-text uncle {
  color: #72ff6d;
}
.first-page-section .container .right-side {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.first-page-section .container .right-side svg {
  padding: 0px 69px;
}

.blog-section {
  padding: 0px 70px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.blog-section .section-blog {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1600px;
  font-family: "Montserrat", sans-serif;
  color: #001140;
}
.blog-section .section-blog .blog-section-headers {
  display: flex;
  margin-bottom: 38px;
  flex-direction: column;
}
.blog-section .section-blog .blog-section-headers .blog-accent {
  width: 9rem;
  height: 6px;
  margin: -6px 0px;
  background-color: #72ff6d;
}
.blog-section .section-blog .blog-section-headers .blog-section-header {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 69px;
}
.blog-section .section-blog .blog-section-headers .blog-section-sub-header {
  line-height: 18px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.blog-section .section-blog .icon-time {
  display: flex;
  justify-content: space-between;
  margin: 70px 0px;
}
.blog-section .section-blog .icon-time .icon-group {
  width: 24%;
}
.blog-section .section-blog .icon-time .icon-group h3 {
  line-height: 62px;
  padding-bottom: 4px;
  font-size: 1.5rem;
}
.blog-section .section-blog .icon-time .icon-group h6 {
  line-height: 18px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

svg {
  stroke: #72ff6d;
}

.testimonial {
  display: flex;
  justify-content: center;
  padding: 0px 70px;
  margin: 30px 0px;
}
.testimonial .inside-testimonial {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.testimonial .inside-testimonial .testi-header .testi-accent {
  width: 8rem;
  height: 6px;
  margin: -4px 0px;
  background-color: #72ff6d;
}
.testimonial .inside-testimonial .testi-header .testi-h1-header {
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 2.7rem;
  color: #001140;
}
.testimonial .inside-testimonial .testi-readers {
  display: flex;
  justify-content: space-between;
  margin: 70px 0px;
}
.testimonial .inside-testimonial .testi-readers .reader-box {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: linear-gradient(88deg, rgba(163, 177, 215, 0.19) 0%, rgba(144, 159, 201, 0.3) 35%);
  width: 18%;
  max-width: 20%;
  min-width: 18%;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 5px 25px;
  flex-direction: column;
}
.testimonial .inside-testimonial .testi-readers .reader-box .reader-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 0px;
  border: 3px solid #72ff6d;
}
.testimonial .inside-testimonial .testi-readers .reader-box .reader-text {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #001140;
}
.testimonial .inside-testimonial .testi-readers .reader-box .reader-name {
  color: #001140;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}
.testimonial .inside-testimonial .testi-readers .reader-box .reader-name .name-accent {
  width: 3.5rem;
  height: 6px;
  margin: 3px 0px;
  background-color: #72ff6d;
  height: 3.8px;
}/*# sourceMappingURL=style.css.map */